<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VitaVerse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/vlibrary/img/vlogo.png" rel="icon">
  <link href="/vlibrary/img/vlogo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vlibrary/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vlibrary/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vlibrary/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vlibrary/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vlibrary/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/vlibrary/css/variables.css" rel="stylesheet">
 
  <!-- Template Main CSS File -->
  <link href="/vlibrary/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
       
        <img src="/vlibrary/img/vlogo.png" alt="">
        <h1>VitaVerse<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="nav-link scrollto" href="index.html#about">About VitaVerse</a></li>
          <li><a class="nav-link scrollto" href="index.html#services">Mission and Goals</a></li>
          <li><a class="nav-link scrollto" href="index.html#faq">Frequently Asked Questions</a></li>
          <li><a class="nav-link scrollto" href="/vitamins">Vitamins</a></li>
          <li><a class="nav-link scrollto" href="/contactform">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="/signup">Registration</a></l>
          <li><a class="nav-link scrollto" href="/signin">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav>

      <a class="btn-getstarted scrollto" href="index.html#about"  style="display: none;">Get Started</a>

    </div>
  </header><!-- End Header -->

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
     
      <img src="/vlibrary/img/mains.jpg" class="img-fluid animated">
      <h2><span>VitaVerse</span></h2>
      <p>
        VitaVerse is your ultimate source for all things vitamins
      </p>
      <div class="d-flex" style="display: none;">
       
      </div>
      <div class="d-flex" style="display: none;">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
       
      </div>
    </div>
  </section>
  <main id="main">

    
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <a href="/vitamins"></a>
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin A</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B1</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B2</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B3</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B5</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B7</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B9</div>
            <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin B12</div>
              <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin C</div>
              <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin D</div>
              <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin E</div>
              <div class="swiper-slide"><img src="/vlibrary/img/vit.png" class="img-fluid" alt=""> Vitamin K</div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>About VitaVerse</h2>
          <p style="text-align:justify;">
          </p>
        </div>
        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="/vlibrary/img/aboutus.jpg" class="img-fluid animated" alt="">
            </div>
          </div>
          <div class="col-lg-7">
           
            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Who is VitaVerse</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">VitaVerse Vision</a></li>
             
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">
                  Understanding the main elements of good health is crucial because it is invaluable.
                  The ideal concentrations of important vitamins in the human body have been revealed
                   through medical study. These vitamins can be measured by blood tests, although it might
                    be difficult to interpret the data of the tests. The terminology and information in
                     medical records are frequently complicated, making it difficult for patients to 
                     understand them and for healthcare professionals to explain them. The VitaVerse 
                     website tries to provide a user-friendly website to solve this problem. The main
                      objective of VitaVerse is to make it simple for individuals to comprehend their
                       vitamin data, eliminating the need for lengthy explanations from medical specialists.</p>
              </div><!-- End Tab 1 Content -->
              <div class="tab-pane fade show" id="tab2">
                <p class="fst-italic">
                  At VitaVerse, we see an environment in which everyone can understand their health easily  and take steps to improve it using technology.
                  Making health information straightforward and available is our aim. By presenting clear insights regarding users' vitamin levels and helpful 
                  guidance, we hope to empower adults of ages  18 and older to take control of their health. We want to be a dependable source for anyone seeking to 
                  improve their health. VitaVerse is an empowering tool more than just a platform. Our goal is to create an environment where good health is attainable. 
                  To make that vision a reality, there is VitaVerse.
               </p>
              </div><!-- End Tab 2 Content -->
             
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->



    


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Mission & Goals</h2>
          </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="/vlibrary/img/allvitamin.png" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Mission</h3>
                </a>
                <p>At VitaVerse, our mission is to enhance the well-being of individuals by providing a comprehensive and user-friendly platform for tracking vitamins. 
                  We strive to empower users with insightful graphs that illustrate the risks associated with their nutritional choices. 
                  Through personalized recommendations and a wealth of information, we aim to guide users towards a balanced and healthier lifestyle. 
                  Our commitment is to make nutritional awareness accessible, fostering a community that values informed choices for optimal health and vitality</p></div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="/vlibrary/img/allvitamin.png" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>Goals</h3>
                </a>
                <p>VitaVerse is dedicated to transforming personal nutrition with clear goals. Our aim is to empower users through innovative 
                  tracking tools, insightful graphs, and personalized recommendations. We seek to build a supportive community where users share 
                  their nutritional journeys, fostering mutual support. Staying at the forefront of nutritional science, we provide accurate and 
                  up-to-date information, ensuring informed decision-making. VitaVerse strives to create an intuitive platform, collaborating
                  with experts for credibility. Our overarching goal is to inspire a global shift towards proactive and informed nutrition, 
                  promoting a healthier society.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

     
        </div>

      </div>
    </section><!-- End Services Section -->

    
    
    
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Frequently Asked Questions</h2>
          
        </div>

        <div class="row gy-5">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">Will VitaVerse provide enough dietary information without consulting a doctor ?</a></h4>
              <p>No, VitaVerse will help you enhance your health but you should always seek professional help.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="" class="stretched-link">What is the source of dietary recommendation and risks of deficiencies in VitaVerse?</a></h4>
              <p>Our dietary recommendation and risks of deficiencies are based on reliable sources fromColumns are from the "Harvard T.H. Chan" website, and the "LabPedia.net" website.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="" class="stretched-link"> Is VitaVerse only for people with health issues? </a></h4>
              <p>No, VitaVerse is suitable for anyone interested in monitoring and optimizing their well-being. It caters to health-conscious individuals, fitness enthusiasts, and those proactive about their nutritional health.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="" class="stretched-link">How can I contact VitaVerse support?</a></h4>
              <p>For any queries or support, you can use the "Contact Us" page on the website. The VitaVerse team is dedicated to providing timely assistance to ensure a positive user experience.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

    
    </section><!-- End Featured Services Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            2023 &copy; Copyright <strong><span>VitaVerse</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="/index">VitaVerse</a>
          </div>
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vlibrary/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vlibrary/vendor/aos/aos.js"></script>
  <script src="/vlibrary/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vlibrary/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vlibrary/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vlibrary/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/vlibrary/js/main.js"></script>

</body>

</html>