<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e48d166edc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Assets/login.css">
    
    <title>Login Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/Assets/jq.js"></script>
    <script>
    $(document).ready(function () 
	{
    });
function GetLogin() 
{
    if ($("#Username").val() == "") {
        $("#msg").html("Enter Username");
        event.preventDefault();
        return false;
    } else if ($("#Password").val() == "") {
        $("#msg").html("Enter Password");
        event.preventDefault();
        return false;
    } else {
        var LoginAuth = {
            'Email': $("#Email").val(),
            'Password': $("#Password").val()
        };
        $.ajax({
            type: "POST",
            url: "/Dashboard",
            data: JSON.stringify(LoginAuth),
            contentType: 'application/json',
            success: function (response) {
                console.log("Login success:", response);
                // Check the response message and update UI accordingly
                if (response.message === "Invalid Password") 
                {
                    $("#msg").html("Invalid Password");
                } else if (response.message === "Invalid User id/Not Exist") 
                {
                    $("#msg").html("Invalid Email or Email does not exist");
                } else {
                    $("#login_user").submit();
                }
            },
            error: function (error) {
                console.error("Error during login:", error);
                // Handle error
            }
        });
        event.preventDefault(); // Prevent the default form submission
    }
}
    </script>
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="/Assets/img/BG.png" alt="BG">
        </div>
        <div class="login-content">
            <form action="/Dashboard" id="login_user" method="POST">
                <div class="title-container">
                    <h1>Login</h1>
                    <h2>Hello, Friends!</h2>
                    <p>Enter your personal detail and start journey with us.</p>
                </div>
                <div class="login-inner-content">
                    <div class="input-div one">
                        <div class="i">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="div">
                            <h5> Email</h5>
                            <input type="text" name="Email" id="Email" class="input">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-eye" onclick="show()"></i>
                        </div>
                        <div class="div">
                            <h5>Password</h5>
                            <input type="password" name="Password" id="Password" class="input">
                        </div>
                    </div>
                    <a href="/contactform">Forgot password</a>
                </div>
                <input type="submit" class="btn" value="Login" onclick="GetLogin()">
                <br>
                <span id="msg"></span>
                <h3>
                    <a href="/signup">Create New Account</a> | 
                    <a href="/index">Home</a>
                </h3>
            </form>
        </div>
    </div>
    <script src="/Assets/login.js"></script>
</body>
</html>