<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VitaVerse</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/vlibrary/img/vlogo.png" rel="icon">
  <link href="/vlibrary/img/vlogo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vlibrary/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vlibrary/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vlibrary/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vlibrary/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vlibrary/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="/vlibrary/css/variables.css" rel="stylesheet">

  <link href="/vlibrary/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/index" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
          <img src="/vlibrary/img/vlogo.png" alt="">
        <h1>VitaVerse<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/index">Home</a></li>
          <li><a class="nav-link scrollto" href="/index">About VitaVerse</a></li>
          <li><a class="nav-link scrollto" href="/index">Mission and Goals</a></li>
          <li><a class="nav-link scrollto" href="/index#faq">Frequently Asked Questions</a></li>
          <li><a class="nav-link scrollto" class="nav-link scrollto" href="/vitamins">Vitamins</a></li>
          <li><a class="nav-link scrollto" href="/contactform">Contact Us</a></li>
          <li><a class="nav-link scrollto" href="/signup">Registration</a></l>
          <li><a class="nav-link scrollto" href="/signin">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

     

    </div>
  </header><!-- End Header -->


  <main id="main">


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Vitamins</h2>
          <p >
       
            Vitamins and minerals can cause toxicity if consumed in large amounts
          
          </p>
        </div>
        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          
          <div class="col-lg-12">
            <h3 class="pt-0 pt-lg-5">VitaVerse Vitamins</h3>
            
            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Vitamin A</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Vitamin B</a></li>
             
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Vitamin C </a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">Vitamin D</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab5">Vitamin E</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab6">Vitamin K</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab7">Types of minerals and their functions</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p >
                  <p><strong>Vitamin A</strong></p>
                  <p>Vitamin A is important because it:</p>
                  <ul>
                    <li>makes the immune system work effectively so it can fight disease and infections</li>
                    <li>keeps our skin healthy</li>
                    <li>supports reproduction and growth</li>
                    <li>helps with vision.</li>
                  </ul>
                  <p>Food sources of vitamin A</p>
                  <p>There are different compounds with vitamin A activity in animal and plant foods. Plant foods can be easy to spot as they tend to have orange/yellow pigment known as beta-carotene.</p>
                  <p>Plant sources include:</p>
                  <ul>
                    <li>orange and yellow fruit and vegetables – such as carrots, red capsicum, mangoes, sweet potatoes, apricots, pumpkin and cantaloupe</li>
                    <li>leafy green vegetables – such as spinach, peas and broccoli.</li>
                  </ul>
                  <p>Animal sources include:</p>
                  <ul>
                    <li>liver</li>
                    <li>eggs</li>
                    <li>some fortified milk and milk products (with added vitamin A).</li>
                  </ul>
                  <p>Vitamin A deficiency risks</p>
                  <p>Because of the various roles that vitamin A plays in the body, deficiency can have several health effects. These include:</p>
                  <ul>
                    <li>increased risk of infections</li>
                    <li>night blindness and irreversible blindness (xerophthalmia)</li>
                    <li>excessive keratin build-up of the skin.</li>
                  </ul>
                </p>
              </div><!-- End Tab 1 Content -->
              <div class="tab-pane fade show" id="tab2">
                <p >
                  <p><strong>Vitamin B</strong></p>
                  <p>B-group vitamins help our bodies use the energy-yielding nutrients (such as carbohydrates, fat and protein) for fuel. Some B-group vitamins are needed to help cells to multiply by making new DNA.</p>
                  <p>Except for B-12 and folate which are stored by the liver, most B-group vitamins can’t be stored by the body. They must be consumed regularly in a healthy diet that includes a range of wholefoods (such as lean meat, fish, wholegrains, fruit, vegetables and legumes) and limits the intake of alcohol and processed foods.</p>
                  <p>The 8 types of vitamin B are:</p>
                  <ol>
                    <li>thiamin (B1)</li>
                    <li>riboflavin (B2)</li>
                    <li>niacin (B3)</li>
                    <li>pantothenic acid (B5)</li>
                    <li>pyridoxine (B6)</li>
                    <li>biotin (B7)</li>
                    <li>folate or ‘folic acid’ when included in supplements (B9)</li>
                    <li>cyanocobalamin (B12).</li>
                  </ol>
                  <p>A person who has a poor diet for a few months may end up with B-group vitamins deficiency. For this reason, it’s important that adequate amounts of these vitamins be eaten regularly as part of a well-balanced, nutritious diet.</p>               </p>
              </div><!-- End Tab 2 Content -->
              <div class="tab-pane fade show" id="tab3">
                <p >
                  <p><strong>Vitamin C</strong></p>
                  <p>Dietary intake of vitamin C (from food and drinks) is essential, because the human body cannot make this vitamin from other compounds. We also need to have vitamin C as a regular part of our diet because the body cannot store vitamin C for very long.</p>
                  <p>Vitamin C (ascorbic acid) is important for many metabolic processes, including:</p>
                  <ul>
                    <li>Collagen formation – collagen is used in different ways throughout the body. Its primary role is to strengthen the skin, blood vessels, and bone. The body also relies on collagen to heal wounds.</li>
                    <li>Antioxidant function– the metabolism of oxygen within the body releases molecular compounds called ‘free radicals’, which damage cell membranes. Antioxidants are substances that destroy free radicals, and vitamin C is a powerful antioxidant.</li>
                    <li>Iron absorption – the process of iron absorption is aided by vitamin C, particularly non-haem iron (found in plant foods such as beans and lentils).</li>
                    <li>Infection fighting – the immune system, particularly cells called lymphocytes, requires vitamin C for proper functioning.</li>
                    <li>Other roles – vitamin C is used to produce other important substances in the body such as brain chemicals (neurotransmitters).</li>
                  </ul>
                  <p>Dietary sources of vitamin C</p>
                  <p>Adults need about 45mg of vitamin C per day and any excess amount (above 200mg) is excreted.</p>
                  <p>Vitamin C is sensitive to heat, so some of its nutritional benefits can be lost during cooking. Raw foods are more beneficial as dietary sources of vitamin C. These include:</p>
                  <ul>
                    <li>fruit – oranges, lemons, limes, grapefruits, blackcurrants, mangoes, kiwifruits, rock melon, tomatoes, and strawberries</li>
                    <li>vegetables – particularly green vegetables (such as cabbage, capsicum, spinach, Brussels sprouts, lettuce, and broccoli), cauliflower, and potatoes.</li>
                  </ul>
                  <p>Vitamin C deficiency and scurvy</p>
                  <p>A severe lack of vitamin C can lead to scurvy. We may think of it as a disease of the past, but it does still exist. Factors or lifestyle issues that may increase your scurvy risk include:</p>
                  <ul>
                    <li>regularly eating unhealthy foods</li>
                    <li>crash dieting – especially being on diets that exclude certain food groups</li>
                    <li>being malnourished due to inadequate care</li>
                    <li>very strict allergy diets</li>
                    <li>having an eating disorder</li>
                    <li>smoking – smokers need more vitamin C to cope with the extra stress on their body.</li>
                  </ul>
                  <p>Scurvy symptoms</p>
                  <p>The onset of symptoms of scurvy depends on how long it takes for the person to use up their limited stores of vitamin C.</p>
                  <p>Scurvy is usually easy to treat – symptoms are like many other mild complaints and may include:</p>
                  <ul>
                    <li>fatigue and generally feeling unwell</li>
                    <li>loss of appetite</li>
                    <li>nausea and diarrhea</li>
                    <li>fever</li>
                    <li>painful joints and muscles</li>
                    <li>small ‘pinpoint’ bleeding around hair follicles visible in the skin.</li>
                  </ul>
                  <p>If you or someone you care for is at risk, please see your doctor.</p>          
                </p>     
                </div>
                <div class="tab-pane fade show" id="tab4">
                  <p >
                    <p><strong>Vitamin D</strong></p>
                    <p>Vitamin D is important for strong bones, muscles, and overall health. Ultraviolet (UV) radiation from the sun is necessary to produce vitamin D in the skin and is the best natural source of vitamin D.</p>
                    <p>Regular physical activity also assists with the body’s production of vitamin D.</p>
                    <p>The body can only absorb small amounts of Vitamin D.</p>
                    <p>Spending too much time in the sun may increase your risk of skin cancer. Remember to use daily sun protection, especially at times when UV index levels are at their highest (3 or above).</p>
                    <p>Food sources of vitamin D</p>
                    <p>Only a small amount (around 5-10%) of Vitamin D is sourced from our diet. Sources include:</p>
                    <ul>
                      <li>fatty fish (such as salmon)</li>
                      <li>eggs</li>
                      <li>margarine and some milks have added vitamin D.</li>
                    </ul>
                    <p>Vitamin D deficiency</p>
                    <p>It is important to achieve a good peak bone mass early in life. Vitamin D deficiency can result in a decline in bone density in adult life, increasing the risk of:</p>
                    <ul>
                      <li>osteoporosis</li>
                      <li>falls and bone fractures (especially for older people)</li>
                      <li>rickets (in young children) – a preventable bone disease</li>
                    </ul>
                    <p>Treatment options include improved sunlight exposure, diet, exercise, vitamin and mineral supplements.</p>
                    <p>If you are concerned about vitamin D levels, see your GP. Your GP may recommend vitamin D supplements, which should be taken strictly as directed.</p>                  </p>
                 
                  </div>
                     <div class="tab-pane fade show" id="tab5">
                    <p >
                      <p><strong>Vitamin E</strong></p>
                      <p>Vitamin E is an antioxidant that helps protect your body against damage from free radicals, such as exposure to cigarette smoke or radiation. It is also important for our:</p>
                      <ul>
                        <li>vision</li>
                        <li>immune system</li>
                        <li>skin.</li>
                      </ul>
                      <p>Dietary sources of vitamin E</p>
                      <p>Vitamin E is best obtained from a healthy diet that contains plenty of fresh minimally processed foods. Vitamin E is also vulnerable to heat (especially cooking methods such as deep frying).</p>
                      <p>Dietary sources include:</p>
                      <ul>
                        <li>meats (e.g. liver)</li>
                        <li>egg yolks</li>
                        <li>leafy green vegetables – spinach, broccoli</li>
                        <li>nuts and seeds – such as almonds, sunflower seeds, peanuts, and hazelnuts</li>
                        <li>healthy oils – such as extra virgin, sunflower, soybean</li>
                        <li>unprocessed cereals and whole grains – such as wheat germ.</li>
                      </ul>
                      <p>Vitamin E deficiency</p>
                      <p>Deficiency is rare but can happen in people with diseases that cause fat malabsorption (like cystic fibrosis).</p>
                      <p>Erythrocyte haemolysis is another deficiency – it’s seen in infants born before vitamin E is transferred to them from their mother prior to birth.</p>                    </p>
                    </div>
                      <div class="tab-pane fade show" id="tab6">
                      <p >
                        <p><strong>Vitamin K</strong></p>
                        <p>Vitamin K is important for:</p>
                        <ul>
                          <li>healthy bones</li>
                          <li>blood clotting and wound healing</li>
                          <li>newborn babies to prevent a serious bleeding condition called haemorrhagic disease of the newborn (HDN).</li>
                        </ul>
                        <p>Dietary sources of vitamin K</p>
                        <p>We get vitamin K from food and the bacteria in our gastrointestinal tract. Newborn babies are given a booster to increase their vitamin K levels because they are born without bacteria in their gastrointestinal tract. We get much of our vitamin K from our diet.</p>
                        <p>Food sources include:</p>
                        <ul>
                          <li>leafy green vegetables – spinach and kale</li>
                          <li>fruits – such as avocado and kiwi fruit</li>
                          <li>some vegetable oils – such as soybean oil.</li>
                        </ul>
                        <p>Vitamin K deficiency</p>
                        <p>Vitamin K deficiency is unlikely except when fat is not absorbed properly or when certain medications are used. For example, antibiotics can kill the gastrointestinal bacteria that produce vitamin K.</p>
                        <p>Additionally, anticoagulant drugs (or blood thinners) may cause problems with vitamin K in the body. Check with your doctor if you have any concerns.</p>                      </p>
                      </div>
                      <div class="tab-pane fade show" id="tab7">
                        <p >
                          <p><strong>There are hundreds of minerals</strong> – they are usually classified as either major or trace minerals.</p>
<p>Although the amount you need differs between minerals, major (or macrominerals) are generally required in larger amounts. Some examples include calcium, phosphorus, potassium, sulphur, sodium, chloride, magnesium.</p>
<p>Trace minerals (microminerals), although equally important to bodily functions are required in smaller amounts. Examples include iron, zinc, copper, manganese, and iodine selenium.</p>
<p>Some of the important minerals to keep us healthy are listed below.</p>
<p><strong>Calcium</strong></p>
<p>Calcium is vital to keep our bones strong and healthy. If you don’t get enough calcium, your bones will eventually become weak and brittle and can lead to conditions like osteoporosis. Calcium helps:</p>
<ul>
  <li>strengthen bones and teeth</li>
  <li>regulate muscle and heart function</li>
  <li>blood clotting</li>
  <li>transmission of nervous system messages</li>
  <li>enzyme function.</li>
</ul>
<p>Food sources of calcium</p>
<p>At different life stages, our calcium needs vary. It is better to get calcium from foods than from calcium supplements.</p>
<p>Good sources of calcium include dairy foods like milk, yoghurt and cheese and some plant-based foods with added calcium (for example, soymilk, tofu and breakfast cereals).</p>
<p>Other sources of calcium include almonds, bok choy, kale, parsley, broccoli and watercress.</p>
<p><strong>Iodine</strong></p>
<p>Iodine is essential to make thyroid hormones. These hormones control your metabolic rate (the rate your body uses energy when it is resting). They also help your brain and body grow and develop.</p>
<p>Food sources of iodine</p>
<p>We only need a very small amount of iodine in our diet. Iodine is found naturally in foods such as:</p>
<ul>
  <li>dairy products</li>
  <li>seafood</li>
  <li>seaweed (kelp)</li>
  <li>eggs</li>
  <li>some vegetables.</li>
</ul>
<p>Iodine can also be found in iodised salt. All bought breads (except organic) in Australia are fortified with iodised salt.</p>
<p>You are likely to be getting enough iodine through your diet. However, if you are deficient and need to take a supplement, be guided by your doctor. Too much iodine can be harmful, especially if you have an underlying thyroid disorder.</p>
<p><strong>Iron</strong></p>
<p>Iron is an important mineral that is involved in various bodily functions, including the transport of oxygen in the blood and the provision of energy to cells. It is also vital to help our immune system function effectively to fight infection.</p>
<p>Food sources of iron</p>
<p>Iron can be found in animal and plant foods including:</p>
<ul>
  <li>red meat and offal</li>
  <li>fish</li>
  <li>poultry</li>
  <li>legumes</li>
  <li>eggs</li>
  <li>breakfast cereals with added iron.</li>
</ul>
<p>Iron deficiency</p>
<p>Iron deficiency is common and can affect adults and children. Around one in 8 people do not consume enough iron to meet their needs.</p>
<p>Some factors such as certain foods and drinks can affect how much iron your body absorbs. Also, some groups are more at risk of iron deficiency, such as babies and young children, teenage girls, women with heavy periods, vegans and vegetarians, and people with chronic conditions.</p>
<p><strong>Zinc</strong></p>
<p>Zinc is an important mineral involved in various bodily functions – growth and development as well as immune function.</p>
<p>Zinc also helps to produce the active form of vitamin A and transports it around the body.</p>
<p>Food sources of zinc</p>
<p>Zinc is highest in protein-rich foods but may also be found in some plant foods. Dietary sources include:</p>
<ul>
  <li>red meat</li>
  <li>shellfish</li>
  <li>poultry</li>
  <li>milk and cheese</li>
  <li>whole grains</li>
  <li>cereals with added zinc.</li>
</ul>
<p><strong>Magnesium</strong></p>
<p>Magnesium is important due to its many functions in the body – including maintaining bone health and using glucose for energy```html
<p>Magnesium also supports immune function and helps regulate blood pressure and lung function.</p>
<p>Food sources of magnesium</p>
<p>Dietary sources include:</p>
<ul>
  <li>nuts (such as cashews)</li>
  <li>legumes</li>
  <li>dark green vegetables</li>
  <li>seafood</li>
  <li>whole grains</li>
  <li>chocolate and cocoa.</li>
</ul>
<p><strong>Potassium</strong></p>
<p>Potassium is important for the nerves, muscles, and heart to work properly. It also helps lower blood pressure.</p>
<p>Food sources of potassium</p>
<p>Our bodies are designed for a high-potassium diet, not a high-salt diet. Food processing tends to lower the potassium levels in many foods while increasing the sodium content.</p>
<p>It is much better to eat unprocessed foods – such as fruit, vegetables, and lean meats, eggs, fish, and other healthy, everyday foods.</p>
<p>Foods high in potassium include:</p>
<ul>
  <li>bananas and apricots</li>
  <li>mushrooms and spinach</li>
  <li>nuts and seeds.</li>
</ul>
<p>Be guided by your doctor, some people with kidney disease or who are taking some medications need to be careful not to get too much potassium in their diet.</p>
<p><strong>Sodium</strong></p>
<p>A small amount of sodium is important for good health as it helps maintain the correct volume of circulating blood and tissue fluids in the body.</p>
<p>Most of us are consuming far more sodium than we need. In fact, many Australians are consuming almost double the amount required.</p>
<p>Too much sodium can lead to high blood pressure (hypertension) and other health conditions.</p>
<p>Food sources of sodium</p>
<p>Salt is the main source of sodium in our diet. It is a chemical compound (electrolyte) made up of sodium and chloride.</p>
<p>Many foods – whole grains, meat, and dairy products – naturally contain small amounts of sodium, while highly processed foods usually contain large amounts.</p>
<p><strong>Vitamin and mineral deficiencies and supplements</strong></p>
<p>The fat-soluble vitamins A, D, E, and K can be locked away in the liver and body fat and stored for a long time. The water-soluble vitamins, including B-complex and vitamin C, are mostly only stored for a shorter period.</p>
<p>A vitamin deficiency takes weeks or months before it will affect your health. For instance, it would take months of no vitamin C before you developed scurvy.</p>
<p>Vitamin and mineral supplements may be recommended in certain circumstances to correct vitamin and mineral deficiencies – such as folate for women who are pregnant or planning a pregnancy. Others who may be at risk of a vitamin or mineral deficiency include:</p>
<ul>
  <li>pregnant women and women who are breastfeeding</li>
  <li>people who smoke, drink alcohol in excess, or use illegal drugs</li>
  <li>crash dieters or those on very strict diets</li>
  <li>the elderly (especially those who are disabled or chronically ill)</li>
  <li>some vegetarians or vegans</li>
  <li>women with heavy periods</li>
  <li>people with food allergies</li>
  <li>people with malabsorption problems (such as diarrhea, coeliac disease, cystic fibrosis, or pancreatitis).</li>
</ul>
<p>Remember, supplements are a short-term measure and should only be taken on advice from your doctor or a dietitian.</p>
<p>An occasional lapse in good eating will not harm you if your usual diet consists of a wide variety of fresh foods.</p>
                        </p>
                        </div>
            
            </div>
          </div>
        </div>
      </div>
     
      
    </section><!-- End About Section -->





  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer id="footer" class="footer">
    <div class="footer-legal text-center">
     
          <div class="copyright">
            2023 &copy; Copyright <strong><span>VitaVerse</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
           
            Designed by <a href="/index">VitaVerse</a>
      

      

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vlibrary/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vlibrary/vendor/aos/aos.js"></script>
  <script src="/vlibrary/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vlibrary/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vlibrary/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vlibrary/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/vlibrary/js/main.js"></script>

</body>

</html>